<!DOCTYPE html>
<html lang="en">
<head>
    <title>Database Error!</title>
    <% include head.ejs %>
</head>
<body>
<div class="container mt-3">
    <div class="card card-inverse card-danger" style="color: white;">
        <div class="text-center">
            <h1>Uh Oh!</h1>
            <p>There is a problem with the database! Please tell the person who looks after this to fix it!</p>
        </div>
    </div>
</div>
<% include scripts.ejs %>
</body>
</html>