<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Booking</title>
    <meta name="google-signin-client_id" content="801316837381-7d1vd6bi6v3c2do02tdqlis0i5b7dsdi.apps.googleusercontent.com">
    <% include head.ejs %>
</head>
<body>
<% include nav.ejs %>
<% include scripts.ejs %>
</body>
</html>