<!DOCTYPE html>
<html lang="en">
<head>
    <title>No Vehicles Available!</title>
    <% include head.ejs %>
</head>
<body>
<div class="container mt-3">
    <div class="card card-inverse card-danger" style="color: white;">
        <div class="text-center">
            <h1>Uh Oh!</h1>
            <strong>:(</strong>
            <p>There are no vehicles available between <%= moment(booking.unixStartTime * 1000).format('LLL') %> and <%= moment(booking.unixReturnTime * 1000).format('LLL') %></p>
        </div>
    </div>
    <a class="btn btn-primary mt-3" href="/create_booking">Revise Booking</a>
</div>
<% include scripts.ejs %>
</body>
</html>