<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Booking</title>
    <% include head.ejs %>
</head>
<body>
<% include nav.ejs %>

<div class="container mt-3">
    <div class="card card-inverse card-danger">
        <div class="card-block text-center">
            Looks like you're not signed in!
            Please click the sign in with google button at the top of the page
        </div>
    </div>
</div>

<% include scripts.ejs %>
</body>
</html>