<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Booking</title>
    <% include head.ejs %>
</head>
<body>
<% include nav.ejs %>
<div class="container mt-3">
    <div class="card card-inverse card-warning">
        <div class="card-block text-center" style="color: white;">
            <h3>You do not have permission to access this page!</h3>
        </div>
    </div>
</div>
<% include scripts.ejs %>
</body>
</html>